.linkOferta{
	position:fixed;
	margin:0;
	padding:0;
	list-style:none;
	z-index:999;
	font-family:Arial,Helvetica,sans-serif;
	right: -20px;
	top: -10px;
	color:white;
}
.linkOferta img{
	width:9em;
	position:relative;
	transition: all .5s;
	cursor: pointer;
 
}
.linkOferta:hover img{
	width:9.4em;

}
.linkOferta .textoOferta{
	position: absolute;
	top:3.2em;
	left:1.5em;  
	transform:rotate(-16deg);
}.linkOferta:hover .textoOferta{
	top:3.3em;
}
.linkOferta .textoOferta a{
	color:white;
	font-size: .97em;
	font-weight: bold;
	transition:all .5s;
}
.linkOferta:hover .textoOferta a{
	text-decoration: none;
}
@media (max-width: 728px) {
	.linkOferta{
	  
	  top:35px;
	}
}
